<!DOCTYPE html>
<html>
<head>

<% include title %>


<link rel="stylesheet" type="text/css"  href="/module/semantic-ui-label/label.min.css">
<link rel="stylesheet" type="text/css"  href="/module/semantic-ui-button/button.min.css">
<link rel="stylesheet" type="text/css"  href="css/main.css">

</head>


<body>

<header>
     <% include header1 %>
</header>


<div class="ui container content"><!-- Start of Container -->

<h1 class="center">
About
</h1>


          <div class="textContent">
          <p>        
          Go on คือ web application ที่ไม่มุ่งหวังผลกำไร จุดประสงค์เพื่อเป็นช่องทางหนึ่งในการสนับสนุนการบริจาคและรับบริจาคโลหิต จัดทำขึ้นโดยคนไทยในนิวยอร์ค ประเทศสหรัฐอเมริกา 
          </p><!-- <p>&nbsp;</p> -->
          </div>
<!-- 			<div class="center smallerText">
				  In partnership with 
				  <div class="padding20"><img src="/img/tany.png"></div>
			</div> -->
        


   
</div> <!-- End of Container -->

<footer>
    <% include footer %>
</footer>

<% include analytic %>
</body>
</html>