    


          <div class="row">
                <div class="col-12 stackable center marginTop15">
<a class="center" href="#announce" id="announce">กรุ๊ปเลือดที่ต้องการ <i class="caret down icon"></i>
</a>
                         
              </div>
          </div>

<div class="row">

<div class="col-2 stackable">
   <button class="ui fluid button activityButton bloodButton">
       <div>Rh-</div>
   </button> 
</div>

<div class="col-2 stackable">
   <button class="ui fluid button activityButton bloodButton">
       <div>A</div>
   </button> 
</div>
<div class="col-2 stackable">
   <button class="ui fluid button activityButton bloodButton">
       <div>B</div>
   </button> 
</div>
<div class="col-2 stackable">
   <button class="ui fluid button activityButton bloodButton">
       <div>AB</div>
   </button> 
</div>
<div class="col-2 stackable">
   <button class="ui fluid button activityButton bloodButton">
       <div>O</div>
   </button> 
</div>
<div class="col-2 stackable">
   <button class="ui fluid button activityButton bloodButton">
       <div>อะไรก็ได้</div>
   </button> 
</div>




</div>    


<div class="ui fluid labeled icon big blue button" id="chrome">
  <i class="facebook icon"></i>
            กรุณายืนยันตัวตน
</div>