

<div class="footerMenu">
  <!--   <a href="/home">Home</a>  <span class="opac20">&nbsp;|&nbsp;</span> -->
    <a href="/about">About</a>  <span class="opac20">&nbsp;|&nbsp;</span> 
    <a target="_blank" href="http://prasanpanich.com/contact">Contact</a> <span class="opac20">&nbsp;|&nbsp;</span> 
    <a href="/privacy">Privacy</a> 
    <div>&nbsp;</div>
    <div class="smallerText"><a href="http://prasanpanich.com">Designed and Developed by Nithi</a> </div>
</div>



